.update-file-body {
  background-color: rgba(213, 230, 141, 0.64);
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.new-file-update {
  margin: 20px;
}

.btn-success {
  margin: 20px;
}
