.upload-body {
  background-color: rgba(213, 230, 141, 0.64);
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.btn-success {
  color: #a3320b;
  font-weight: bolder;
  font-size: larger;
}

.new-file-desc {
  margin: 20px;
}

.new-file-label {
  padding: 20px;
}

.Home-link {
  text-align: center;
}
